---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Badge from '../components/Badge.astro';
---

<Layout title="Welcome to Astro.">
	<main>
	<section class="w-full lg:w-[740px] mx-auto py-44">
		<h1 class="text-white text-5xl font-bold flex flex-row gap-x-4 pb-4 " >Hey, soy messi <a href="https://messi.com/" target="_blank" rel="noopener" class="flex justify-center items-center "><Badge>Disponible para jugar</Badge></a> </h1>
	<h2 class="text-xl opacity-80">+10 años en la cancha. Goleador Extremo Derecho.De Rosario, Argentina</h2>
	<ul></ul>
</section>
</main>
</Layout>

