<header class="flex justify-between items-center py-5 w-[1120px] mx-auto">
    <img class="rounded-full w-12 h-12" src="https://image.ondacero.es/clipping/cmsimages01/2023/06/13/D2A4CC75-E672-4A54-B325-1611051ED976/messi-principio-ire-proximo-mundial_104.jpg?crop=715,715,x182,y0&width=1200&height=1200&optimize=low&format=webply" alt="logo porfolio">
<nav class="flex flex-row gap-x-10 opacity-80">
    <a href="/">Home</a>
    <a href="/about">About</a> 
    <a href="/projects">Projects</a>
    <a href="/contact">Contact</a>
</nav>

</header>